{
  "oci": {
    "compartment_id": "ocid1.tenancy.oc1..aaaaaaaa...",
    "region": "ap-hyderabad-1",
    "subnet_id": "ocid1.subnet.oc1.ap-hyderabad-1.aaaaaaaa...",
    "ocir_namespace": "ax2yzgp7isxi",
    "availability_domain": "",
    "dns_zone_name": "workspace.internal",
    "dns_view_id": "ocid1.dnsview.oc1..aaaaaaaa...",
    "external_url_template": "https://tdesai.editor-{workspace_hash}.oracle.com"
  },
  "aws": {
    "region": "ap-northeast-1",
    "account_id": "",
    "profile_name": "",
    "subnet_id": "",
    "cluster": "",
    "task_definition": "",
    "security_group_ids": [],
    "execution_role_arn": "arn:aws:iam::688567298444:role/service-role/ecsTaskExecutionRole",
    "task_role_arn": "",
    "private_hosted_zone_id": "",
    "dns_zone_name": "workspace.internal",
    "aws_access_key_id": "",
    "aws_secret_access_key": "",
    "aws_session_token": ""
  }
}
